.toolbar {
  background-color: darkblue;
}

.toolbarRed {
  background-color: red;
  min-height: 13px;
  max-height: 13px;
}

.span {
  margin: auto;
  color: whitesmoke;
  font-size: xx-large;
  font: bold;
}

.mapButton {
  color: whitesmoke;
}
.tabDesign {
  width: 33.33%;
}

.outletDesign {
  background-color: red;
}
