.cardDesign {
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 10%;
  width: 60%;
  border-radius: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 17%;
}

.titleDesign {
  background-color: skyblue;
}
